.built-by {
    grid-area: logo;
    justify-self: right;
    margin: 1.5rem 2rem;

    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 0.4rem;

    svg {
        width: 1.25rem;
    }
}
