.index-layout {

    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
    align-items: start;
    font-family: "Ubuntu Mono", monospace;

    img {
        align-self: end;
        position: sticky;
        bottom: 0;

        &:first-of-type {
            transform: scaleX(-1);
        }
    }

}
